<div id="companies-teaser">
  <div class="teaser-div companies-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/companies.jpg") %>

      <div class="teaser-description">
        <h2>Strategieplanung mit Fundament</h2>
        <p>Sie haben eine neue Idee und möchten diese gemeinsam mit Ihren Kunden zielgerichtet und effektiv weiterentwickeln? Sie fragen sich, wie Ihr Konzept z.B. von Investoren oder einer bestimmten Kundengruppe bewertet wird?  Mit GDS bieten wir Ihrem Unternehmen erstmals die Möglichkeit, auf wissenschaftlicher Grundlage zielgruppenspezifische Analysen durchführen zu lassen. Ob Idea Validation, direktes korrespektives Feedback oder klassische Marktforschung, mit GDS erhalten Sie genau die Informationen, die Sie brauchen – und das einfacher, schneller und preiswerter als je zuvor!

           <!--Nähere Informationen zu unserem Konzept finden Sie hier.-->
        </p>
        <%= link_to 'Kontakt', '/contact_us', class: "btn btn-default btn-sm" %> 
        <%= link_to 'Diskussion buchen', '/new_customer', class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
  <div class="teaser-div companies-teaser center-block" data-page="2">
    <div class="teaser-width">
      <div class="teaser-left">
        <h2>Ihre Vorteile mit GDS:</h2>
        <h3>Wissenschaftliche Online-Diskussionen</h3>
        <p>Um den hohen wissenschaftlichen Standard von GDS zu erfüllen, haben wir viel Herzblut und Expertise in die
          Konzeption und Gestaltung unserer Diskussionsumgebung investiert. Das Resultat ist eine Umgebung, die optimal
          auf die Bedürfnisse Ihrer wissenschaftlichen Online-Diskussion abgestimmt ist.</p>

        <h3>Optimale Diskussionsteilnehmer </h3>
        <p>Wir bieten Ihnen optimale Diskussionsteilnehmer! Wir erheben zusätzlich zu den bisher genutzten
          Klassifizierungen anhand von soziodemografischen Merkmalen (Alter, Geschlecht, etc.) auch
          Persönlichkeitsmerkmale. Anhand dieser Daten können wir Ihre Teilnehmer Ihren Bedürfnissen entsprechend auswählen.</p>
      </div>
      <div class="teaser-right">
        <h3>Persönlichkeitstest</h3>
        <p>Unsere Probanden werden durch einen psychologischen Test klassifiziert. Bei dem Test handelt es sich um ein
          wissenschaftliches Messwerkzeug, das konstruiert wurde, um eine bestmögliche Klassifizierung der Probanden zu
          gewährleisten. Er entspricht den psychologischen Test-Güte-Kriterien.
        </p>

        <h3>Transparenz und Vertrauen</h3>
        <p>Durch unser Pay-per-Use Prinzip haben Sie stets volle Kontrolle über Ihre Kostenplanung. Wir kümmern uns von
          Beginn an um Ihre Anliegen und sehen uns als Partner an Ihrer Seite.</p>

        <h3>Marktforschung mit Begeisterung</h3>
        <p>Lassen Sie uns Ihr nächstes Projekt gemeinsam gestalten. Denn wir von GDS leben Marktforschung!</p>
      </div>
    </div>
  </div>
</div>