<div id="moderators-teaser">
  <div class="teaser-div moderators-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/moderators.jpg") %>

      <div class="teaser-description">
        <h2>Marktforschung mit Köpfchen</h2>
        <p>Wir sind stetig auf der Suche nach qualifizierten Moderatoren, denn nur mit den Besten an Board sind wir gut genug!
          So können wir unseren Partnern eine zielgerichtete Moderation auf höchstem Niveau bieten und beste Ergebnisse erzielen.
          Sie wollen Teil unseres Teams werden? Dann registrieren Sie sich noch heute.</p>
        <% if Rails.env.production? %>
          <%= link_to 'Kontakt', '/contact_us', class: "btn btn-default btn-sm" %>
        <% else %>
          <%= link_to 'Jetzt Registrieren', '#', class: "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>