<div id="our-service-teaser">
  <div class="teaser-div our-service-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/our_service.jpg") %>

      <div class="teaser-description">
        <h2>Gemeinsam in die Zukunft</h2>
        <p>Mit Group Discussion Services, dem tool für Ihre Online-Gruppendiskussionen, betreiben Sie präzise und wissenschaftlich fundierte Marktforschung. Mit uns haben Sie den starken Partner an Ihrer Seite, der Sie von Anfang an begleitet. Gruppendiskussionen mit optimalen Teilnehmern von zertifizierten Moderatoren auf höchstem Niveau betreut, das ist unser Schlüssel zu Ihrem Erfolg.</p>
        <br>
        <p>Lassen Sie uns gemeinsam die Zukunft gestalten!</p>
        <%= link_to 'Diskussion buchen', '/new_customer', class: "btn btn-default" %>
        <%= link_to 'Proband werden', users_new_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>