<div id="probands-teaser">
  <div class="teaser-div probands-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/probands_01.jpg") %>

      <div class="teaser-description">
        <h2>Ihre Meinung zählt</h2>
        <p>Werden Sie Teil unseres Teams! Profitieren Sie von einer attraktiven Aufwandsentschädigung sowie der
          Möglichkeit, Einfluss auf wichtige Entscheidungen zu haben. Um Sie zu den optimalen Diskussionsthemen einladen
          zu können, werden Sie im Rahmen Ihrer Registrierung unter anderem einen psychologischen Persönlichkeitstest
          ausfüllen. Ihre Daten werden selbstverständlich anonymisiert behandelt. Als Dankeschön für Ihre Registrierung
          erhalten Sie die Ergebnisse Ihres ausgewerteten Persönlichkeitstest per Mail.</p>
        <%= link_to 'Jetzt registrieren', new_user_registration_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
  <div class="teaser-div probands-teaser center-block" data-page="2">
    <div class="teaser-width">
      <%= image_tag("home/probands_02.jpg") %>

      <div class="teaser-description">
        <p>Sie möchten Ihrer Stimme Gewicht verleihen? Mit GDS macht Marktforschung Spaß, denn wir bieten Ihnen
          interessante Diskussionsthemen. Bei uns wird mit Präzision und Hingabe gearbeitet, eine angenehme
          Arbeitsatmosphäre ist garantiert. Kommen Sie zu GDS und leben Sie Markforschung!</p>
        <%= link_to 'Jetzt registrieren', new_user_registration_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
</div>