<div id="probands-teaser">
  <div class="teaser-div probands-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/probands_01.jpg") %>

      <div class="teaser-description">
        <h2>Ihre Meinung zählt</h2>
        <p>Werden Sie Teil unseres Teams!
Mit GDS nehmen Sie bequem von zu Hause aus an Online-Gruppendiskussionen teil und tragen dazu bei, Produkte zu optimieren und den Markt kunden- freundlicher zu gestalten. Profitieren Sie von einer Aufwandsentschädigung (10 Euro - pro Diskussion!) sowie der Möglichkeit, direkten Einfluss auf wichtige Entscheidungen zu haben.
Um Sie zu den optimalen Diskussionsthemen einladen zu können, werden Sie im Rahmen Ihrer Registrierung unter anderem einen psychologischen Persönlichkeitstest ausfüllen, dessen Ergebnisse Sie als Dankeschön für Ihre Registrierung per Mail erhalten. Ihre Daten werden selbstverständlich anonymisiert behandelt.
Registrieren Sie sich jetzt als Proband und helfen Sie uns, den Markt der Zukunft mitzugestalten!</p>
          <p><b>Unter allen Anmeldungen bis zum 30.06.2015 verlosen wir als Dankeschön ein iPad mini! <a href="/eligibility_requirements">Teilnahmebedingungen</a></b></p>
        <%= link_to 'Jetzt registrieren', new_user_registration_path, class: "btn btn-default btn-sm" %>
      </div>
    </div>
  </div>
  <div class="teaser-div probands-teaser center-block" data-page="2">
    <div class="teaser-width">
      <%= image_tag("home/probands_02.jpg") %>

      <div class="teaser-description">
        <p>Sie möchten Ihrer Stimme Gewicht verleihen? Mit GDS macht Marktforschung Spaß, denn wir bieten Ihnen
          interessante Diskussionsthemen. Bei uns wird mit Präzision und Hingabe gearbeitet, eine angenehme
          Arbeitsatmosphäre ist garantiert. Kommen Sie zu GDS und leben Sie Markforschung!</p>
        <%= link_to 'Jetzt registrieren', new_user_registration_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>