<div id="research-institutes-teaser">
  <div class="teaser-div research-institutes-teaser center-block" data-page="1">
    <div class="teaser-width">
      <%= image_tag("home/research_institutes.jpg") %>

      <div class="teaser-description">
        <h2>Innovative Marktforschung</h2>
        <p>Wir sind stolz, Ihnen unser neustes Produkt vorstellen zu können: Group Discussion Services!
          Die Gruppendiskussion auf einem neuen Level.
          Wir bieten Ihnen die Möglichkeit, ein innovatives Erhebungswerkzeug in Ihr Methodenrepertoire aufzunehmen
          und das ganz ohne finanzielles Risiko. Mit unserem Pay-per-Use-Prinzip sind Kosten und Leistungen jederzeit
          transparent. Profitieren auch Sie von den Vorteilen unserer Online-Gruppendiskussionen. </p>
        <% if Rails.env.production? %>
          <%= link_to 'Kontakt', '/contact_us', class: "btn btn-default btn-sm" %>
        <% else %>
          <%= link_to 'Jetzt registrieren', new_research_institute_path, class: "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>