	
<h1>Allgemeine Teilnahmebedingungen für Gewinnspiele und Preisausschreibenin den Angeboten von Psychomatix UG (haftungsbeschränkt).</h1>


<h2>1. Veranstalter, Geltungsbereich und Anerkennung der allgemeinen Teilnahmebedingungen</h2>
<p>
(1) Diese Allgemeine Bedingungen gelten für die Teilnahme an den Gewinnspielen, Preisausschreiben und Verlosungen, die in den Angeboten von Psychomatix UG (haftungsbeschränkt), veranstaltet werden. Das Angebot der Psychomatix UG umfasst insbesondere Multimediaanwendungen und Online-Medien.
</p>
<p>
(2) Psychomatix UG behält sich vor, für einzelne Gewinnspiele besondere Teilnahmebedingungen aufzustellen. Diese sind dann auf der jeweiligen Gewinnspielaktionsseite im Internet von Psychomatix UG einsehbar.
</p>
<p>
(3) Die Gewinnspiele werden von der Psychomatix UG (nachstehend „Psychomatix“ genannt), Rudolf-Breitscheid-Straße 187, 14482 Potsdam veranstaltet. Sofern ein Kooperationspartner vpn Psychomatix Mitveranstalter ist, wird dieser jeweils ausdrücklich genannt. Mitteilungen an Psychomatix erfolgen via E-Mail an folgende E-Mail-Adresse: info@group-discussion-services.de
</p>
<p>
(4) Mit der Teilnahme an einem Gewinnspiel, das Psychomatix in seinen Angeboten veranstaltet, erkennt der Teilnehmer ausdrücklich und verbindlich diese Allgemeinen Teilnahmebedingungen an.
</p>
<p>(5) Im Folgenden umfasst der Begriff „Gewinnspiel“ sowohl Gewinnspiele als auch Verlosungen und Preisausschreiben.
</p>
<h2>2. Teilnahmeberechtigung</h2>
<p>
(1) Teilnahmeberechtigt sind alle natürlichen Personen, die das 18. Lebensjahr vollendet und ihren ständigen Wohnsitz in der Bundesrepublik Deutschland haben.
</p>
<p>
(2) Von der Teilnahme ausgeschlossen sind Mitarbeiter von Psychomatix, Mitarbeiter von Kooperationspartnern des jeweiligen Gewinnspiels und alle Personen, welche mit der Durchführung des jeweiligen Gewinnspiels beschäftigt sind oder waren. Gleiches gilt für Angehörige (§15 Abgabenordnung) ersten und zweiten Grades dieser Personen sowie deren Lebenspartner in eheähnlicher Gemeinschaft.
</p>
<p>
(3) Jede Person darf nur einmal am Gewinnspiel teilnehmen.
</p>
<p>
(4) Die Teilnahme an dem Gewinnspiel ist nicht an den Kauf einer Ware, einer Dienstleistung, einer Spende oder Vergleichbares gebunden.
</p>
<h2>3. Ablauf des Gewinnspiels</h2>
<p>
Über den Ablauf des jeweiligen Gewinnspiels wird der Teilnehmer in dem jeweiligen Angebot von Psychomatix, ggf. auch in besonderen Teilnahmebedingungen (siehe unter Ziffer 1) informiert. Dies betrifft u.a. Beginn und Ende des Spiels, Teilnahme- und Auswahlverfahren, eventuelle Gewinnfragen bzw. -aufgaben.
</p>
<h2>4. Teilnahme über Telefon/Kosten</h2>
<p>
Eine Teilnahme ist je nach Gewinnspiel schriftlich, online, oder über die im jeweiligen Angebot genannte(n) Telefonnummer(n) möglich.

Ein Anruf auf der lokalen Studiohotline mit der Vorwahl 0331 aus dem Festnetz der Deutschen Telekom ist zum City- bzw. Ferntarif möglich. Im Übrigen richtet sich die Tarifierung nach dem vom Teilnehmer genutzten Verbindungsweg (Netz/Provider).

Verbindungskosten kommen erst ab dem Zeitpunkt zustande, nachdem der Anruf des Teilnehmers entgegengenommen (ggf. durch einen Anrufbeantworter) wurde. Hört der Teilnehmer ein Besetztzeichen oder einen Rufton, entstehen keine Kosten.

Bitte kontrollieren Sie Ihr Telefonverhalten, um unvorhergesehenen Kosten vorzubeugen.
</p>
<h2>5. Gewinn</h2>
<p>
Bei Sachpreisen ist eine Barauszahlung des Gewinnwertes bzw. ein Umtausch des Gewinns ausgeschlossen. Der Gewinnanspruch ist nicht übertragbar.

Wenn im Angebot nicht anders mitgeteilt, wird der Sachpreis dem Gewinner kostenfrei zugestellt.

Der Gewinnanspruch erlischt bei Nichterreichbarkeit des Gewinners, bei ausbleibender Rückmeldung des Gewinners oder bei Nichtannahme des Gewinns durch den Gewinner nach Ablauf von 21 Tagen, gerechnet ab der ersten Veröffentlichung des Gewinners durch Psychomatix.

Gewinne, die gemäß Angebot von Kooperationspartnern bzw. Preissponsoren gestellt werden, bietet Psychomatix nur in deren Namen an. Psychomatix ist in solchen Fällen nicht verantwortlich für die rechtzeitige und vollständige Ausschüttung des Gewinns sowie für Sach- bzw. Rechtsmängel oder für die Zahlungsunfähigkeit des Kooperationspartners und die daraus resultierenden Folgen für das Gewinnspiel.

Der in der Gewinnspielbeschreibung von Psychomatix gegebenenfalls bildlich oder mündlich präsentierte Gewinn, ist nicht zwingend mit dem zu gewinnenden Gegenstand identisch. Abweichungen insbesondere im Modell, Farbe und Ausstattung u. ä. sind möglich.
</p>
<h2>6. Ausschluss von Teilnehmern</h2>
<p>
Psychomatix behält sich vor, Teilnehmer von der Teilnahme am Gewinnspiel auszuschließen. Dies gilt insbesondere bei schuldhaften Verstößen gegen die Teilnahmebedingungen oder falls Teilnehmer den Teilnahmevorgang oder das Spiel manipulieren bzw. versuchen zu manipulieren oder sich anderer unredlicher Hilfsmittel bedienen.

Psychomatix kann Teilnehmer ausschließen, bei denen der begründete Verdacht besteht, dass diese sich in den Angeboten oder Veranstaltungen von Psychomatix (z.B. Gewinnergespräch mit dem Moderator) in strafbarer, insbesondere in ehrverletzender oder volksverhetzender Weise äußern werden.
</p>
<h2>7. Ausschluss von der Ausschüttung des Gewinns</h2>
<p>
Stellt Psychomatix nachträglich fest, dass der Teilnehmer einem im Sinne von Ziff. 6 zum Ausschluss führenden Grund verwirklicht hat bzw. nicht teilnahmeberechtigt im Sinne der Ziff. 2 war, kann Psychomatix diesen von der Ausschüttung des Gewinns ausschließen.
</p>
<h2>8. Veröffentlichung von Namen; Promotion</h2>
<p>
Psychomatix darf den Namen des Gewinners öffentlich im Programm oder auf den Internetseiten von Psychomatix bekannt geben, es sei denn, der Gewinner widerspricht ausdrücklich einer Veröffentlichung.

Der Gewinner verpflichtet sich, in vertretbarem Rahmen kostenfrei für Audio-, Foto-, Bild- und Textpromotion im Hörfunk, Internet oder gedruckten Veröffentlichungen zur Verfügung zu stehen und willigt einer dem Gewinnspielverlauf zweckgebunden entsprechenden Veröffentlichung seines Beitrages, in Wort, Bild oder Text, zu.
</p>
<h2>9. Abbruch Gewinnspiel</h2>
<p>
Psychomatix behält sich vor, das Gewinnspiel jederzeit abzubrechen oder zu beenden. Dies gilt insbesondere bei höherer Gewalt oder falls das Gewinnspiel aus anderen organisatorischen, technischen oder rechtlichen Gründen nicht durchgeführt bzw. fortgesetzt werden kann. Den Teilnehmern stehen in einem solchen Fall keine Ansprüche gegen Psychomatix zu.
</p>
<h2>10. Haftung</h2>
<p>
(1) Psychomatix haftet nicht für falsche Informationen, die die durch Teilnehmer und/oder Dritte, inklusive etwaiger Kooperationspartner von Psychomatix geäußert und verbreitet werden und die mit der Verbreitung von Informationen zum Gewinnspiel im Zusammenhang stehen.
</p>
<p>
(2) Psychomatix übernimmt keine Gewähr dafür, dass alle Verlinkungen und Verweise, die im Rahmen des Gewinnspiels getätigt werden richtig bzw. vollständig sind.
</p>
<p>
(3) Psychomatix haftet nicht für Schäden aufgrund von Störungen technischer Anlagen, für Verzögerungen oder Unterbrechungen von Übertragungen oder für Schäden, die im Zusammenhang mit der Teilnahme am Gewinnspiel bzw. mit der Annahme und der Nutzung des Gewinns stehen, es sei denn, Psychomatix bzw. dessen Erfüllungsgehilfen handeln vorsätzlich oder grob fahrlässig. Hiervon unberührt bleiben etwaige Ersatzansprüche aufgrund der Verletzung von Leben, Körper und Gesundheit sowie von wesentlichen Vertragspflichten.
</p>
<h2>11. Verhältnis mündliche Angaben/ schriftliche Teilnahmebedingungen</h2>
<p>
Weichen mündliche Angaben in den Angeboten (z.B. in der Moderation) inhaltlich von den vorstehenden Allgemeinen Teilnahmebedingungen oder von den Teilnahmebedingungen einzelner Gewinnspiele ab, so gelten bezüglich der abweichenden Angaben ausschließlich die Regelungen der Allgemeinen Teilnahmebedingungen bzw. der schriftlichen Teilnahmebedingung des jeweiligen Gewinnspiels.
</p>
<h2>12. Änderung der Teilnahmebedingungen</h2>
<p>Psychomatix behält sich vor, jederzeit die Teilnahmebedingungen zu ändern.</p>
<h2>13. Datenschutz</h2>
<p>
Alle personenbezogenen Daten des Teilnehmers werden ausschließlich zum Zwecke der Durchführung und Abwicklung des Gewinnspiels gespeichert und genutzt. Eine unberechtigte Weitergabe an Dritte findet nicht statt. Ebenso eine Nutzung für Werbezwecke. Nach Abschluss des Gewinnspiels werden die Daten der Teilnehmer unverzüglich gesperrt und innerhalb der technisch vorgegebenen Routinen anschließend gelöscht. Es steht jedem Teilnehmer frei, seine Teilnahme am Gewinnspiel sowie seine Einwilligung zur Speicherung und Verwendung seiner Daten zu widerrufen. Der Widerruf ist zu richten an friedrich@psychomatix.de.

Mit der Löschung der Daten ist die Teilnahme am Gewinnspiel und einer ggf. nachfolgenden Verlosung ausgeschlossen.
</p>
<h2>14. Schlussbestimmungen</h2>
<p>
(1) Es gilt das Recht der Bundesrepublik Deutschland.
</p>
<p>
(2) Abweichungen von diesen Teilnahmebedingungen bedürfen zu Ihrer Wirksamkeit der Schriftform. Das gleiche gilt hinsichtlich der Abbedingungen des Schriftformerfordernisses.
</p>
<p>
(3) Sollten eine oder mehrere der vorstehenden Klauseln ganz oder teilweise nichtig, unwirksam oder undurchführbar sein oder werden, bleiben die übrigen Bedingungen wirksam. An deren Stelle tritt eine entsprechende gültige Klausel. Gleiches gilt bei Vorliegen einer Regelungslücke.
</p>
<p>
(4) Erfüllungsort und Gerichtsstand ist Wetzlar, soweit eine Vereinbarung hierüber zulässig ist. Ansonsten gilt der Sitz bzw. Wohnsitz der beklagten Partei.
</p>
<p>
(5) Der Rechtsweg ist ausgeschlossen.
</p>
<h2>15. Gewinnspielanbieter</h2>
<p>
Anbieter des Gewinnspiels ist<br>
<br>
<adress>
<strong>Psychomatix UG 
(haftungsbeschränkt)</strong><br>

Rudolf-Breitscheid-Straße 187<br>
14482 Potsdam<br>
Deutschland<br>
<br>
Telefon: +49 (0)331 979 922 59<br>
Telefax: +49 (0)331 231 897 99<br>
E-Mail: friedrich@psychomatix.de<br>
Internet: www.group-discussion-services.de<br>
<br> 
Handelsregister - NR: HRB - 27688<br>
Registerort: Amtsgericht Potsdam<br>
<br>
Geschäftsführer:<br>
Lukas Waschat<br>
Tim Friedrich<br>
</adress>
<h2>16. Facebook-Disclaimer</h2>
<p>
Sofern Gewinnspiele auf Facebook nicht mittels einer Facebook-Applikation ausgeführt werden, gilt Facebook Ireland Limited Hanover Reach, 5-7 Hanover Quay, Dublin 2, Ireland, ausdrücklich weder als Ansprechpartner noch als in irgendeiner Weise in Zusammenhang stehend mit dem Gewinnspiel.
</p>
Stand: April 2014
