language: ruby

rvm:
- 2.2.0

addons:
  postgresql: "9.3"

before_script:
- cp config/database.yml.travis config/database.yml
- psql -c 'create database travis_ci_test;' -U postgres
- bundle exec dotenv rake db:test:prepare
- bundle exec dotenv rackup private_pub.ru -E production

script: "xvfb-run bundle exec dotenv rspec"
