<div class="panel panel-default probands">
	<div class="panel-heading"><h3 class="panel-title">Teilnehmer</h3></div>

		<ul class="list-group probands_list">
			<% @discussion.users.each do | proband | %>
				<% if proband.is_present_in(@discussion) %>
					<%= render partial: 'proband', locals: { user: proband } %>
					<%= render partial: 'proband', locals: { user: current_user } %>
				<% end %>
	  		<% end %>
		</ul>
  
</div>


