
<ul class="nav nav-pills nav-stacked" id="probands_nav">
  <li role="presentation" class="active"><a data-id="users_overview" href="#">Übersicht</a></li>
  <li role="presentation"><a data-id="invite_probands" href="#">Probanden Einladen</a></li>
  <li role="presentation"><a data-id="invite_observers" href="#">Beobachter einladen</a></li>
</ul>

<div id="users_overview">
	<h2>Teilnehmer</h2>
	<div class="message"></div>

	<div class="probands_list">
	  <%= render partial: "discussions_users/list_users", locals: { discussions_users: @probands, id: "probands", page_name: "probands_page" } %>
	</div>

	<h2>Beobachter</h2>

	<div class="observers_list">
	  <%= render partial: "discussions_users/list_users", locals: { discussions_users: @observers, id: "observers", page_name: "observers_page" } %>
	</div>
</div>

<div id="invite_probands">
	<div class="message"></div>

	<h2>Einladen über Email Adresse</h2>
	<p>Laden Sie Probanden über deren Email Adresse ein. Sie können auch Probanden die sich noch nicht registriert haben einladen.</p>

	<%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "proband" } %>

	<h2>Eigene Probanden Datenbank durchsuchen</h2>
	<div class="panel panel-default">
	  <div class="panel-body">
	  <p><strong>Filter:</strong> {{tableParams.filter()|json}}
		<div slider ng-from="age.from" ng-to="age.to" start=1 end=100 step=1  ></div>
	  </div>
	</div>
	<button ng-click="addProband()">Auswahl zur Diskussion einladen</button>


<table st-table="users" class="table table-striped">
	<thead>
	<tr>
		<th>Vorname</th>
		<th>Nachname</th>
		<th>Alter</th>
		<th>Geschlecht</th>
		<th>Postleitzahl</th>
	</tr>
	<tr>
		<th>
			<input st-search="'firstname'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		</th>
		<th colspan="3">
			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		</th>
		<th>
			<input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="user in users">
		<td>{{user.firstname}}</td>
		<td>{{user.lastname}}</td>
		<td>{{user.age}}</td>
		<td>{{user.gender}}</td>
		<td>{{user.zipcode}}</td>
	</tr>
	</tbody>
</table>

<div id="invite_observers">
	<div class="message"></div>
	<h2>Einladen über Email Adresse</h2>
	<p>Laden Sie Beobachter über deren Email Adresse ein. Sie können auch Beobachter die sich noch nicht registriert haben einladen.</p>
	<%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "observer" } %>
	
</div>