<li class="list-group-item user_<%= user.id %>" style="background-color:<%= DiscussionsUser.where(discussion_id: discussion.id, user_id: user.id).first.color %>;">
	<%= user.firstname %> <%= user.lastname %>
</li>