
<ul class="nav nav-pills nav-stacked" id="probands_nav">
  <li role="presentation" class="active"><a data-id="users_overview" href="#">Übersicht</a></li>
  <li role="presentation"><a data-id="invite_probands" href="#">Probanden Einladen</a></li>
  <li role="presentation"><a data-id="invite_observers" href="#">Beobachter einladen</a></li>
</ul>

<div id="users_overview">
	<h2>Teilnehmer</h2>
	<div class="message"></div>

	<div class="probands_list">
	  <%= render partial: "discussions_users/list_users", locals: { discussions_users: @probands, id: "probands", page_name: "probands_page" } %>
	</div>

	<h2>Beobachter</h2>

	<div class="observers_list">
	  <%= render partial: "discussions_users/list_users", locals: { discussions_users: @observers, id: "observers", page_name: "observers_page" } %>
	</div>
</div>

<div id="invite_probands">
	<div class="message"></div>

	<h2>Einladen über Email Adresse</h2>
	<p>Laden Sie Probanden über deren Email Adresse ein. Sie können auch Probanden die sich noch nicht registriert haben einladen.</p>

	<%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "proband" } %>

	<h2>Eigene Probanden Datenbank durchsuchen</h2>

<div st-table="displayedUsers" st-safe-src="users" st-set-filter="filterWithRange">

<div class="panel panel-default">

	<div class="panel-body" id="probands-selection-panel">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label" for="gender-filter">Geschlecht:</label>
		    <div class="col-sm-4">
		      <select id="gender-filter" class="form-control" st-search="'gender'" >
				  	<option value="" selected>Egal</option>
				  	<option value="male">Männlich</option>
				  	<option value="female">Weiblich</option>
				  	<option value="other">Andere</option>
			  	</select>
		    </div>
		    <label class="col-sm-2 control-label" for="age">Alter:</label>
		    <div class="col-sm-4">
		      <slider id="age" st-range-search="'age'" ng-model="ageSlider" range="true" min="0" max="100"></slider>
		    </div>
		  </div>

		   <div class="form-group">
		    <label class="col-sm-2 control-label" for="school-filter">Schulabschluss:</label>
		    <div class="col-sm-4">
		      <select id="school-filter" class="form-control" st-search="'school'" >
				  	<option value="" selected>Egal</option>
				  	<option>Hauptschule</option>
				  	<option>Realschule</option>
				  	<option>Fachabitur</option>
				  	<option>Abitur</option>
				  	<option>anderes</option>
			  	</select>
		    </div>
		    <label class="col-sm-2 control-label" for="degree-filter">Abschluss:</label>
		    <div class="col-sm-4">
		      <select id="degree-filter" class="form-control" st-search="'degree'" >
				  	<option value="" selected>Egal</option>
				  	<option>Lehre</option>
				  	<option>Meister</option>
				  	<option>Diplom</option>
				  	<option>Bachelor</option>
				  	<option>Master</option>
				  	<option>Staatsexamen</option>
				  	<option>Promotion</option>
				  	<option>anderes</option>
			  	</select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label" for="status-filter">Status: </label>
		    <div class="col-sm-4">
		      <select id="status-filter" class="form-control" st-search="'personal_status'" >
				  	<option value="" selected>Egal</option>
				  	<option>Student</option>
				  	<option>Arbeiter</option>
				  	<option>Angestellter</option>
				  	<option>Beamter</option>
				  	<option>selbständig</option>
				  	<option>arbeitslos</option>
				  	<option>anderes</option>
			  	</select>
		    </div>
		    <label class="col-sm-2 control-label" for="income-filter">Einkommen: </label>
		    <div class="col-sm-4">
		      <select id="income-filter" class="form-control" st-search="'income'" >
				  	<option value="" selected>Egal</option>
				  	<option>< 1000 EURO</option>
				  	<option>1000 - 3000 EURO</option>
				  	<option>3000 - 5000 EURO</option>
				  	<option>5000 - 7000 EURO</option>
				  	<option>7000 - 9000 EURO</option>
				  	<option>> 9000 EURO</option>
			  	</select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label" for="income-filter">Neurotizismus:</label>
		    <div class="col-sm-4">
		      <slider id="n" type="text" ng-model="nSlider" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"></slider>
		    </div>
		    <label class="col-sm-2 control-label" for="degree-filter">Abschluss:</label>
		    <div class="col-sm-4">
		      <slider id="n" type="text" ng-model="nSlider" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"></slider>
		    </div>
		  </div>
		</form>
	</div>
</div>

<table  class="table table-striped">
	<thead>
	<tr>
		<th>Geschlecht</th>
		<th>Alter</th>
		<th>Schulabschluss</th>
		<th>Abschluss</th>
		<th>Einkommen</th>
		<th>Status</th>
		<th>Postleitzahl</th>
		<th></th>
	</tr>
	<tr>
		<th colspan="5"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="user in displayedUsers">
		<td>{{user.gender}}</td>
		<td>{{user.age}}</td>
		<td>{{user.school}}</td>
		<td>{{user.degree}}</td>
		<td>{{user.income}}</td>
		<td>{{user.personal_status}}</td>
		<td>{{user.zipcode}}</td>
		<td></td>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
			</td>
		</tr>
	</tfoot>
</table>
</div>
</div>
<div id="invite_observers">
	<div class="message"></div>
	<h2>Einladen über Email Adresse</h2>
	<p>Laden Sie Beobachter über deren Email Adresse ein. Sie können auch Beobachter die sich noch nicht registriert haben einladen.</p>
	<%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "observer" } %>

</div>