
<ul class="nav nav-pills nav-stacked" id="probands_nav">
  <li role="presentation" class="active"><a data-id="users_overview" href="#">Übersicht</a></li>
  <li role="presentation"><a data-id="invite_probands" href="#">Probanden Einladen</a></li>
  <li role="presentation"><a data-id="invite_observers" href="#">Beobachter einladen</a></li>
</ul>

<div id="users_overview">
  <h2>Teilnehmer</h2>
  <div class="message"></div>

  <div class="probands_list">
    <div st-table="displayedInvitedUsers" st-safe-src="invited_users">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Geschlecht</th>
            <th>Alter</th>
            <th>Schulabschluss</th>
            <th>Abschluss</th>
            <th>Einkommen</th>
            <th>Status</th>
            <th>Postleitzahl</th>
            <th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in displayedInvitedUsers">
            <td>{{user.gender}}</td>
            <td>{{user.age}}</td>
            <td>{{user.school}}</td>
            <td>{{user.degree}}</td>
            <td>{{user.income}}</td>
            <td>{{user.personal_status}}</td>
            <td>{{user.zipcode}}</td>
            <td><button ng-click="delete_invited_user(user)" class="btn btn-xs btn-primary">Löschen</button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <h2>Beobachter</h2>

  <div class="observers_list">
    <%= render partial: "discussions_users/list_users", locals: { discussions_users: @observers, id: "observers", page_name: "observers_page" } %>
  </div>
</div>

<div id="invite_probands">
  <div class="message"></div>

  <h2>Einladen über Email Adresse</h2>
  <p>Laden Sie Probanden über deren Email Adresse ein. Sie können auch Probanden die sich noch nicht registriert haben einladen.</p>

  <%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "proband" } %>
  <%= render partial: "discussions_users/invitation", locals: { survey_texts: survey_texts } %>
  
<div id="invite_observers">
  <div class="message"></div>
  <h2>Einladen über Email Adresse</h2>
  <p>Laden Sie Beobachter über deren Email Adresse ein. Sie können auch Beobachter die sich noch nicht registriert haben einladen.</p>
  <%= render partial: "discussions_users/email_invitation", locals: { discussions_users: @user, role: "observer" } %>

</div>