<% @discussion.questions.each do | question | %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= question.topic %>
        </a>
      </h4>
    </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <ul class="list-group">
            <%= render question.arguments %> 
          </ul>  
      </div>
  </div>
</div>
<% end %>