<br>
<p>Mit freundlichen Grüßen, <br>
  Group Discussion Services<br><br>
  Psychomatix UG<br>
  Rudolf­-Breitscheid-­Straße 187<br>
  14482 Potsdam<br>
  c/o Hasso Plattner Ventures Management GmbH.
</p>