<div class="list-group-item argument-panel clearfix">
    <div class="right-argument pull-right"><%= argument.votes_in_text %></div>
    <div class="left_argument">
        <div class="color"></div>
        <div class="argument"><span class="name"><%= argument.user.username_in(@discussion) %>: </span><%= argument.content %></div>
    </div>
</div>