<div class="list-group-item argument-panel clearfix">
    <div class="left_argument">
        <div class="color"></div>
        <div class="name"><%= argument.user.username %>: </div>
        <div class="argument"><%= argument.content %></div>
    </div>
    <div class="right-argument pull-right"></div>
</div>