<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

  <%= render 'shared/error_messages', locals: { resource: @user } %>

  <%= render partial: 'users/fields', locals: { user: f } %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit value: 'Weiter', class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
