<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  
  <%= render 'shared/error_messages' %>

  <%= render partial: 'users/fields', locals: { user: f } %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
