<p>
  <strong>Alter:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Geschlecht:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Postleitzahl:</strong>
  <%= @user.zipcode %>
</p>

<% if @user.has_survey? %>
  <h3>Persönlichkeit</h3>
  <%= render partial: 'shared/charts/user', locals: { chart_id: "user-chart", data: @user.survey.scale_values } %>
<% end %>