<% if resource.errors.any? %>
  <div class="error-explanation">
    <p>Bitte überprüfen Sie folgendes:</p>

    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
