<% format = 'normal' unless format %>
<div id="<%= chart_id %>" class="chart-format-<%= format %>"><svg></svg></div>
<script>$(function(){ generateChart_user("<%= chart_id %>", true, <%= data.to_json %>) })</script>
