<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Absender: <%= @sender_name %>  <br>
       Mail: <%= @email %>
    </p>
    <p>
      <%= @content %>
    </p>
  </body>
</html>