<div class="row pm-survey-box">
  <form id="pm-survey" class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-3">
    <%= link_to image_tag(image_url("logo.png")) %>
    <%= render 'layouts/messages' %>

    <h2 id="pm-survey-heading"    class="pm-survey-heading">Persönlichkeitstest</h2>
    <div style="clear:both"></div>
    <progress id="pm-survey-progress" class="pm-survey-progress" max="100" value="0"></progress>
    <div id="pm-survey-text"      class="pm-survey-text"></div>
    <div id="pm-survey-error"     class="pm-survey-error"></div>
    <div id="pm-survey-options"   class="pm-survey-options"></div>
    <script id="pm-survey-option-template" type="x-tmpl-mustache">
      <div class="radio"><label class="pm-survey-label"><input type="radio" name="answers" value="{{value}}" tabindex="{{tabindex}}">{{description}}</label></div>
    </script>

    <button id="pm-survey-button" class="btn btn-default pm-survey-button" type="submit" autofocus>Weiter</button>
    <div id="pm-survey-analysis"></div>

    <script id="pm-survey-analysis-intro-template" type="x-tmpl-mustache">
      <div class="pm-survey-analysis-intro">
         Geschafft! Herzlichen Dank, dass Sie sich die Zeit genommen haben, den Persönlichkeitstest auszufüllen. Hier nun Ihre persönliche Auswertung. Die Einordnung Ihrer Ergebnisse bezieht sich immer auf den Vergleich mit anderen <em>{{gender}}</em> in der Alterskategorie <em>{{age}}</em>.
      </div>
    </script>

    <script id="pm-survey-analysis-text-template" type="x-tmpl-mustache">
      <h4 class="pm-survey-analysis-title">{{analysisTitle}} <span class="pm-survey-analysis-short-level">{{analysisShortLevel}}</span></h4>
      <div class="pm-survey-analysis-text">
        {{{analysisExplanation}}} Ihr Testwert in dieser Kategorie entspricht einer <strong>{{analysisLevel}} Ausprägung.</strong> {{{analysisText}}}
      </div>
    </script>

    <script id="pm-survey-analysis-outro-template" type="x-tmpl-mustache">
      <h4>Noch Fragen?</h4>
      Sollten Sie noch Fragen zur Interpretation der Ergebnisse haben, oder wenn Sie einfach nur eine genauere Erläuterung wünschen, zögern Sie bitte nicht uns zu kontaktieren. Auf Wunsch vereinbaren wir gerne einen individuellen Telefontermin und erklären Ihnen ihre Testergebnisse Schritt für Schritt.
      <br/><br/>
      <a href="/profile" class="btn btn-success">Weiter zum Profil</a>
    </script>
  </form>
</div>