
<div id="pm-survey-error"></div>

<form id="pm-survey">
  <div id="pm-survey-progress">Fortschritt: 99%</div>
  <div id="pm-survey-text"></div>
  <div id="pm-survey-options"></div>
  <button class="btn btn-success" type="submit">Weiter</button>
</form>