<% title 'Persönlichkeitstest' %>

<div class="row pm-survey-box">
  <form id="pm-survey" class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-3">
    <%= link_to image_tag(image_url("logo.png")) %>
    <%= render 'shared/messages' %>

    <h2 id="pm-survey-heading"    class="pm-survey-heading">Persönlichkeitstest</h2>
    <div style="clear:both"></div>
    <progress id="pm-survey-progress" class="pm-survey-progress" max="100" value="0"></progress>
    <div id="pm-survey-text"      class="pm-survey-text"></div>
    <div id="pm-survey-error"     class="pm-survey-error"></div>
    <div id="pm-survey-options"   class="pm-survey-options"></div>
    <script id="pm-survey-option-template" type="x-tmpl-mustache">
      <div class="radio"><label class="pm-survey-label"><input type="radio" name="answers" value="{{value}}" tabindex="{{tabindex}}">{{description}}</label></div>
    </script>

    <button id="pm-survey-button" class="btn btn-default pm-survey-button" type="submit" autofocus>Weiter</button>

    <%= render partial: 'analysis' %>

  </form>
</div>