<table class="table">
  <thead>
  <tr>
    <th>Benutzername</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <% discussions_users.each do |discussions_user| %>
    <tr <% if discussions_user.confirmed %>class="bg-success"<% else %>class="bg-danger" <% end %>  >
      <td><%= discussions_user.name %></td>
      <td><%= discussions_user.user.email %></td>
      <td><%= link_to 'Löschen', discussions_users_path+'/'+discussions_user.id.to_s, method: :delete, remote: true, class: "btn btn-xs btn-primary" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate discussions_users, renderer: BootstrapPagination::Rails, param_name: page_name %>