@init_edit_discussion = (discussion_id) ->
  @fileInput   = $('#fileupload');
  submitButton = $('.fileinput-button');
  progressBar  = $("<div class='bar'></div>");
  barContainer = $("<div class='progress'></div>").append(progressBar);
  submitButton.removeClass('disabled');
  $('.fileinput-button').after(barContainer);

  $('.probands_list, .observers_list').find('a').click((event) =>
    $(event.target).parent().parent().remove()
  )

  $('#invite_users > div').hide()
  $('#invite_users > div:first').show()
  $('#probands_nav').find('li').click( (event) =>
    event.preventDefault()
    $('#probands_nav').find('.active').removeClass('active')
    $(event.target).parent().addClass('active')
    $('#invite_users > div').hide()
    $('#invite_users > div').removeClass('active')
    $("##{ $(event.target).data('id') }").show()
    $("##{ $(event.target).data('id') }").addClass('active')
  )

  $(document).on "ajax:success", "form", (xhr, data, response) ->
    if event.target.responseURL == "http://localhost:5000/users/invitation"  
      $('.alert').remove()
      $('.active').find('.active').find('.message').prepend(
        """
          <div class="alert alert-success" role="alert">Der Proband wurde erfolgreich zur Diskussion eingeladen.</div>
        """)

  $(document).on "ajax:error", "form", (xhr, data, response) ->
    message = "Leider ist etwas schief gegangen. Bitte versuchen sie es später nocheinmal oder kontaktieren den Support. (#{ data.statusText })"
    $('.alert').remove()
    if event.target.responseURL == "http://localhost:5000/users/invitation"      
      if data.status == 422
        message = "Der Benutzer wurde bereits zur Diskussion hinzugefügt."

    $('.active').find('.active').find('.message').prepend (
      """
        <div class="alert alert-danger" role="alert"> 
          #{message}
          </div>
      """)

  @fileInput.fileupload(
    url:             '/visual_aids',
    type:            'POST',
    autoUpload:       true,
    paramName:        'visual_aid[file]',
    dataType:         'script',
    formData:         {'visual_aid[discussion_id]': discussion_id }

    progressall: (e, data) =>
      progress = parseInt(data.loaded / data.total * 100, 10);
      progressBar.css('width', progress + '%')

    start: (e) =>
      submitButton.addClass('disabled');
      progressBar.
      css('background', 'green').
      css('display', 'block').
      css('width', '0%').
      text("Loading...");

    done: (e, data) =>
      submitButton.removeClass('disabled');
      @register_paginations()

    fail: (e, data) =>
      submitButton.removeClass('disabled');
      alert("Leider war ihr Upload nicht erfolgreich bitte versuchen sie es erneut.")
      progressBar.text("Fehler");

    add: (e, data) =>
      valid = true
      $('#not-supported-file').addClass('hidden')
      acceptFileTypes = /(^image\/(gif|jpe?g|png)$)|(^video\/(ogg|mp4|webm))/i
      submitButton.removeClass('disabled');

      $(data.originalFiles).each((index, file) =>
        if(file['type'].length && !acceptFileTypes.test(file['type']))
          valid = false
          $('#not-supported-file').removeClass('hidden')
      )
      if valid
        console.log(this.href)
        data.submit()
  )
  $('.delete_file').click((event) =>
    $(event.target).parent().parent().remove()
  )
  @register_paginations()


@register_paginations = () ->
  $(".pagination").find("a").on("click", (event) ->
    $.get(
      this.href,
      (data) => register_paginations()
      "script"
    )
    return false
  )

$ ->
  $('.datepicker').datepicker
    startView: 2