@init_edit_discussion = (discussion_id) ->

  @fileInput   = $('#fileupload');
  submitButton = $('.fileinput-button');
  progressBar  = $("<div class='bar'></div>");
  barContainer = $("<div class='progress'></div>").append(progressBar);
  submitButton.removeClass('disabled');
  $('.fileinput-button').after(barContainer);

  $('#probands, #observers').find('a').click((event) =>
    $(event.target).parent().parent().remove()
  )

  @fileInput.fileupload(
    url:             '/visual_aids',
    type:            'POST',
    autoUpload:       true,
    paramName:        'visual_aid[file]',
    dataType:         'script',
    formData:         {'visual_aid[discussion_id]': discussion_id }

    progressall: (e, data) =>
      progress = parseInt(data.loaded / data.total * 100, 10);
      progressBar.css('width', progress + '%')

    start: (e) =>
      submitButton.addClass('disabled');
      progressBar.
      css('background', 'green').
      css('display', 'block').
      css('width', '0%').
      text("Loading...");

    done: (e, data) =>
      submitButton.removeClass('disabled');
      @register_paginations()

    fail: (e, data) =>
      submitButton.removeClass('disabled');
      alert("Leider war ihr Upload nicht erfolgreich bitte versuchen sie es erneut.")
      progressBar.text("Fehler");

    add: (e, data) =>
      valid = true
      $('#not-supported-file').addClass('hidden')
      acceptFileTypes = /(^image\/(gif|jpe?g|png)$)|(^video\/(ogg|mp4|webm))/i
      submitButton.removeClass('disabled');

      $(data.originalFiles).each((index, file) =>
        if(file['type'].length && !acceptFileTypes.test(file['type']))
          valid = false
          $('#not-supported-file').removeClass('hidden')
      )
      if valid
        console.log(this.href)
        data.submit()
  )
  $('.delete_file').click((event) =>
    $(event.target).parent().parent().remove()
  )
  @register_paginations()


@register_paginations = () ->
  $(".pagination").find("a").on("click", (event) ->
    $.get(
      this.href,
      (data) => register_paginations()
      "script"
    )
    return false
  )


