@init_edit_discussion = () ->

  @fileInput    = $('#fileupload');
  submitButton = $('.fileinput-button');
  progressBar  = $("<div class='bar'></div>");
  barContainer = $("<div class='progress'></div>").append(progressBar);
  submitButton.removeClass('disabled');
  $('.fileinput-button').after(barContainer);

  $('#probands, #observers').find('a').click((event) =>
    $(event.target).parent().parent().remove()
  )

  @fileInput.fileupload(
    url:             window.s3_url,
    type:            'POST',
    autoUpload:       true,
    formData:         window.s3_form_data,
    paramName:        'file',
    dataType:         'XML',


    progressall: (e, data) =>
      progress = parseInt(data.loaded / data.total * 100, 10);
      progressBar.css('width', progress + '%')

    start: (e) =>
      submitButton.addClass('disabled');
      progressBar.
      css('background', 'green').
      css('display', 'block').
      css('width', '0%').
      text("Loading...");

    done: (e, data) =>
      submitButton.removeClass('disabled');

      key   = $(data.jqXHR.responseXML).find("Key").text();
      name = key.split('/')[key.split('/').length-1]

      $.post(
        "/visual_aids/"
        visual_aid:
          discussion_id: window.discussion_id
          name: name
          url: 'https://'+window.s3_url_host + key
          media_type: data.originalFiles[0]['type']

        (data) =>
          progressBar.text("Upload abgeschlossen");
          row = """
                  <tr>
                    <td>
                      <a href="#" class="thumbnail">
                        <img src="https://#{window.s3_url_host + key}" alt="#{ name }">
                      </a>
                    </td>
                    <td>#{ name }</td>
                    <td>
                      <a class="btn btn-xs btn-primary delete_file" data-method="delete" data-remote="true" href="/visual_aids/#{data.id}" rel="nofollow">Löschen</a>
                    </td>
                  </tr>
                """
          $('#visual_aids_table').append(row)
          $('#visual_aids_table').children().last().find('a').click((event) =>
            $(event.target).parent().parent().remove()
          )
         'json'
      )
      .fail(() =>
        submitButton.removeClass('disabled');
        alert("Leider war ihr Upload nicht erfolgreich bitte versuchen sie es erneut.")
        progressBar.text("Fehler");
      )

    fail: (e, data) =>
      submitButton.removeClass('disabled');
      alert("Leider war ihr Upload nicht erfolgreich bitte versuchen sie es erneut.")
      progressBar.text("Fehler");

    add: (e, data) =>
      valid = true
      $('#not-supported-file').addClass('hidden')
      acceptFileTypes = /(^image\/(gif|jpe?g|png)$)|(^video\/(ogg|mp4|webm))/i
      submitButton.removeClass('disabled');

      $(data.originalFiles).each((index, file) =>
        if(file['type'].length && !acceptFileTypes.test(file['type']))
          valid = false
          $('#not-supported-file').removeClass('hidden')
      )


      if valid
        data.submit()

  )

  $('.delete_file').click((event) =>
    $(event.target).parent().parent().remove()
  )

