/*
 * ASSET GEMS
 *= require bootstrap
 *= require mediaelement_rails
 *
 * BOWER
 *= require bootstrap-datepicker
 *= require ng-table
 *= require nouislider
 
 * VENDOR
 *= require progress-polyfill
 *
 * APP # TODO switch to explicit @import syntax?
 *= require_tree .
 */
