.new_vote {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}

.vote_count {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}
.time_stamp {
  margin-left: 3px;
}
.left_argument {
  text-align: left;
  float: left;
}
.like_badge {
  background-color: #5CB85C !important;
}
.dislike_badge {
  background-color: #D9534F !important;
}
.argument{
  word-wrap: break-word;
  padding-right: 0px;
  float: left;
}
.name{
  float:left;
}
ul#moderator_chat.list-group div.list-group-item div.left_argument{
  width: 570px;
}
ul#discussion_chat.list-group div.list-group-item div.left_argument{
  width: 655px;
    .color{
      width: 5px;
      height: 20px;
      float: left;
      margin-right: 3px;
    }
}