// Place all the styles related to the argument controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_vote {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

.vote_count {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}
.time_stamp {
	
	margin-left: 3px;
}
.left_argument {
	text-align: left;
	float: left;
}
.right_argument.col-md-2 {
	text-align: right;
	float: right;
	padding: 0px 5px 0px 5px;
}
.like_badge {
	background-color: #5CB85C !important;
}
.dislike_badge {
	background-color: #D9534F !important;
}
.left_argument .row .col-md{
	float:left;
}
