// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$chat_background: #bfbfbf;
#discussion{
  #moderator{
    float: right;
    width: 582px;
    margin: 25px 0px;

    #moderator_show{
      float: right;
      img{
        height: 60px;
        width: 60px;
      }
    }
    #question{
      background-color: white;
      float:left;
      padding-right: 10px;
      height: 60px;
      width: 517px;
      font-size: 15px;
      padding: 10px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }


  .toolbox{
    float: left;
    width: 270px;
    margin-top: 20px;
    
    .tab-content{
      margin-top: 20px;
    }
    h2{
      margin-top: 50px;
      margin-bottom: 0px;
    }
    hr{
      width: 140px;
      margin-top: 5px;
      margin-left: 0px;

    }

    #probands-list{
      float: none;
      .offline{
        opacity: 0.6;
      }
      li{
        width: 80px;
        height: 20px;
        margin-left: 60px;
        list-style: none;
        .proband-name{
          float: left;
        }
        .proband-color{
          margin-top: 3px;
          border-radius:12px;
          width: 12px; 
          float: right;
          height: 12px;
        }
      }
    }
  }
  .chat_container{
    width: 745px;
    float: right;
    #chat{
      
      width: 745px;
      background-color: $chat_background;
      height:230px;
      padding: 15px 0px;
      float:right;
      #arguments{
        width: 745px;
        background-color: $chat_background;
        float: right;
        padding: 0px 25px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        
        .argument{
          width: 705px;

          //height: 38px;
          margin-bottom: 1px;
          word-wrap: break-word;
          .user{
            display:table-cell;
            background-color: white;
            width:105px;
            .name{
              padding:10px 2px 10px 18px;
              
              //float:left;
              display:table-cell;
              font-size:13px;
            }
            .color{
              margin-top: 16px;
              border-radius:11px;
              width: 11px; 
              float: right;
              height: 11px;
            }
            img{
              padding: 10px;
              width: 70px;
              display:table-cell;
            }
          }
          .arrow{
            display:table-cell;
            vertical-align: top;
            width: 20px;
            background-color: $chat_background;
          }
          
          .right-argument{
            vertical-align: top;
            padding: 10px;
            width: 555px;
            display:table-cell;
            background-color: white;
            .voting{
              float: right;
            }
            .argument_content{
              width: 470px;
              word-wrap: break-word;
              float: left;
              .emoticon{
                width: 13px;
                height: 13px;
              }
            }
          }
        }
        .moderator_argument{

          .user{
            width: 125px;
            padding-left: 20px;
          }
          .user, .right-argument{
            background-color: #fffcdb;
          }
        }
      }

    }
    #new_argument{
      float: right;

      width: 582px;
      height: 75px;
      margin: 15px 0px;    
      .form-group {
        float: left;
        position: relative;
        height: 75px;
        width: 470px;
        margin-right: 10px;
        z-index: 10;
  
        #new_argument_content{
          overflow-y: scroll;
          height: 75px;
          padding-right: 30px;

        }
        .emoticon_picker{
          float:left;
          position: absolute;
          left: 430px;
          top: 5px;
          width: 20px;
          height: 20px;
          overflow-y: visible;

          .emoticon_prev{
            position: absolute;
            top: 0;
            display: none;
            width: 126px;
            height:88px;
            background-color: $chat_background;
            overflow: hidden;
            display: none;
            //opacity: 0.9;
            z-index: 10;

            input{
              border: none;
              margin: 2px;
              opacity: 1;
            }
          }
        }
      }
      #submit_buttons{
        float:right;
        .btn{
          z-index: 1;
        }
      }
    }
  }
}
/* .top{
  clear: both;
  height: 115px;
}

.proband-status{
  float: right;

  img{
    width: 13px;
  }
}



.observer_argument {
  background-color: #d3d3d3 !important;
} */

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  padding: 0.2em;
  color:   white;
  display: none;
}

//edit discussion
#visual_aids_table a {
  width: 300px
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  input{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 0;
    height: 500px;
    cursor: pointer;
  }
}
