// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-primary {
	text-align: left;
}
#moderator_panel{
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	width: 660px;
	height: 118px;

}
#moderator_chat {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 79px;
	/*width: 100%;*/
}
#moderator_show{
	float: left;
	width: 150px;
}
#discussion_panel{
	/*width: 100%;*/
	height: 55%;
	margin-bottom: 5px;
}
#discussion_chat{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.toolbox{
	float: left;
	width: 200px;
	text-align: right;
	overflow: hidden;
	margin-bottom: 5px;
}
.new_argument{
	float: left;
	width: 810px;
}
.chat{
	float: right;
	width: 810px;
	margin-right: 10px;
	height: 100%;
}

.top{
	clear: both;
	height: 125px;
}

html, body, .content, #discussion{
	height: 100%;
}

.tab-content {
  margin-top: 10px;
  text-align: center;
}