// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-primary {
	text-align: left;
}
#moderator_panel{
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	width: 85%;
	height: 118px;

}
#moderator_chat {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 79px;
	/*width: 100%;*/
}
#moderator_show{
	float: left;
	width: 15%;
}
#discussion_panel{
	width: 100%;
	height: 55%;
	margin-bottom: 5px;
}
#discussion_chat{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.left_argument.col-md-10{
	/*width: 630px;*/
	word-wrap: break-word;
	padding-right: 0px;
}
.name{
	float:left;
}
.panel.panel-default.probands{
	float: right;
	width: 15%;
	text-align: right;
	overflow: hidden;
	margin-bottom: 5px;
}
.new_argument{
	width: 100%;
	float: left;
}

.left{
	float: left;
	margin-right: 10px;
	width: 83%;
	height: 100%;
}
.top{
	clear: both;
	height: 125px;
}

html, body, .content, #discussion{
	height: 100%;
}