#invite_users{
	.nav-stacked{
		margin-top: 60px;
		float: left;
  }
}
#invite_users > div{
  width: 800px;
  float: right;
}
.slider-container{
	width: 200px;
	#age-slider{
		width: 150px;
		float: right;
	}
}