// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-primary {
	text-align: left;
}
#moderator_panel{
	margin-bottom: 0px;
	float: left;
	margin-right: 0px;
	width: 660px;
	height: 118px;

}
#moderator_chat {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 79px;
	/*width: 100%;*/
}
#moderator_show{
	float: left;
	width: 150px;
}
#discussion_panel{
	/*width: 100%;*/
	height: 55%;
	margin-bottom: 5px;
}
#discussion_chat{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.toolbox{
	float: left;
	width: 200px;
	text-align: right;
	overflow: hidden;
	margin-bottom: 5px;
}
.new_argument{
	float: left;
	width: 810px;
}
.chat{
	float: right;
	width: 810px;
	margin-right: 10px;
	height: 100%;

    .emoticon{
      width: 13px;
      height: 13px;
    }
}

.top{
	clear: both;
	height: 125px;
}

html, body, .content, #discussion{
	height: 100%;
}

.tab-content {
  margin-top: 10px;
  text-align: center;
}

.proband-status{
  float: right;

  img{
    width: 13px;
  }
}

.new_argument{

  .form-group {
    float: left;
    width: 640px;
    height: 75px;
    position: relative;

    div{
      width: 640px;
      overflow-y: scroll;
      height: 75px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .emoticon_picker{
      left: 620px;
      top: 5px;
      width: 20px;
      height: 20px;
      overflow-y: visible;

      .emoticon_prev{
        width: 126px;
        height:88px;
        background-color: lightslategray;
        overflow: hidden;
        display: none;
        opacity: 0.9;
        z-index: 10;

        input{
          border: none;
          margin: 2px;
          opacity: 1;
        }
      }
    }
  }
  #submit_buttons{
    .btn{

    }
  }
}

.observer_argument {
  background-color: #d3d3d3 !important;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  padding: 0.2em;
  color:   white;
  display: none;
}

//edit discussion
#visual_aids_table a {
  width: 300px
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  input{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 0;
    height: 500px;
    cursor: pointer;
  }
}
