// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teaser{
  //width: 810px;
  width: 1024px;
  height: 340px;
  background-color: white;
  //margin-top: 50px;
  img{
    padding: 10px;
    height: 340px;
    width: 480px;
    float: left;
  }
  .teaser-description{
    padding: 20px 40px;
    width: 524px;
    height: 340px;
    float: left;
  }
}

#separation-arrow-container{
  height: 33px;
}

.prev-images{
  //floate: none;

  div{
    float: left;
    p{
      text-align: center;
    }
  }
  div:first-child{
    margin: 10px 18px 10px 0px;
  }
  div:nth-child(2), div:nth-child(3){
    margin: 10px 17px;
  }
  div:nth-child(4){
    margin: 10px 0px 10px 18px;
  }
  #image-overlay{
    background-color: #7eb11c;
    width: 230px;
    height: 154px;
    opacity: 0;
    margin: 0px ! important;
  }
  .prev-image{
    width: 230px;
    margin: 0px ! important;
    height: 154px;
  }
  .company-prev{
    background: transparent image_url("company.jpg") no-repeat;
    background-size: contain;
  }
  .our-service-prev{
    background: transparent image_url("our_service.jpg") no-repeat;
    background-size: contain;
  }
  .research-institute-prev{
    background: transparent image_url("research_institute.jpg") no-repeat;
    background-size: contain;
  }
  .proband-prev{
    background: transparent image_url("proband.jpg") no-repeat;
    background-size: contain;
  }
  .prev-image:hover #image-overlay{
    opacity: 0.7;
  }
}