@import 'bootstrap';
/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


.content {
	max-width: 1024px;
}

tbody{
	text-align: left;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 20px;
	font-size: 1.7em;
	
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	background-color: transparent;
	text-decoration: none;
}

.navbar-default .navbar-brand {
    color: white;
}

/*navigation*/

.navbar-fixed-top nav {
	background-color: #7eb01d;
}
.navbar-fixed-top.navbar.navbar-default.navbar-brand {
	color: white;
}
.navbar-brand:visited{
	color: white;
}

.dropdown-toggle:visited{
	color: white;
}
 .nav > li > a:hover, .nav > li > a:focus {
    background-color:#7eb01d;
    
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #7eb01d;;
    border-color: #428BCA;
}
.dropdown-menu{
	margin-right: 10px;
}

.nav.pull-right a {
    
    margin-top: 5px;
}
.dropdown-menu{
	color: white;
	padding-right: 100px;
}
/* forms */


.btn.btn-large.btn-primary {
	color: white;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
