// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-primary {
	text-align: left;
}
#moderator_chat {
	height: 150px;
}
#discussion {
	height: 300px;
}
.panel-body {
	overflow-y: scroll;
}
.moderator_show {
	float: left;
	overflow: hidden;
}
.panel#discussion {
	overflow: clear;
}