@import 'bootstrap';
/* universal */

body {
  background-color: #f1f1f2;
  color: #707173;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  hr{
      border-top: 1px solid #BFBFBF;
    }

  h1{
    color: #7eb11c;
    font-size: 28px;
  }
  h2{
    color: #7eb11c;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3{
    color: #7eb11c;
    font-size: 14px;
  }
  div{
    text-align: left;
  }
  .content{
    width: 1024px;
  }
}

.list-group-item{
  overflow: hidden;
}

a{
  color: #7eb11c;
}
a:hover{
  color: #7eb11c;
}

header{
  padding-bottom: 70px;
  width: 1024px;
  height: 120px;

  #logo{
    img{
      width: 230px;
    }
  }
  #slogan{
    img{
      margin-top: 9px;
      margin-left: 250px;
    }
  }
}

footer{
  padding: 0px 20px 20px 20px;
  float: right;

  .hpv_logo{
    height: 50px;
  }

}
