@import 'bootstrap';

/* hacks */

.field_with_errors {
   @extend .has-error;
}


/* universal */

body {
  background-color: #f1f1f2;
  color: #707173;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  hr{
      border-top: 1px solid #BFBFBF;
    }

  h1{
    color: #7eb11c;
    font-size: 28px;
  }
  h2{
    color: #7eb11c;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3{
    color: #7eb11c;
    font-size: 14px;
  }
  div{
    text-align: left;
  }
  #page-container{
    min-height: 100%;
  }
  .content{
    width: 1024px;

  }
}

.list-group-item{
  overflow: hidden;
}

.user_edit {
  text-align: center;
}


a{
  color: #7eb11c;
}
a:hover{
  color: #7eb11c;
}

/* forms */

label{
  font-size: 13px;
}

input, textarea, select{
  font-size: 13px;
}

.devise-links{
  margin-top: 3em;
}

/* sections */

header{
  padding-bottom: 70px;
  width: 1024px;
  height: 120px;

  #logo{
    img{
      width: 230px;
    }
  }
  #slogan{
    img{
      margin-top: 9px;
      margin-left: 250px;
    }
  }
}

.tab-content{
  margin-top: 20px;
}
footer{
  padding: 0px 20px 20px 20px;
  float: right;

  .hpv_logo{
    height: 50px;
  }

}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}