@import 'bootstrap';
/* universal */

body {
  background: #fff image-url("background.png") repeat;
  color: #707173;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 1024px;

  .navbar-default{
    background-color: transparent;
    width: 1024px;
  }

  h1{
    color: #7eb11c;
    font-size: 28px;
  }
  h2{
    color: #7eb11c;
    font-size: 20px;
  }
}

header{
  padding-bottom: 60px;
}
