@import 'bootstrap';
/* universal */

body {
  background-color: #fbfbfb;
  color: #707173;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;

  h1{
    color: #7eb11c;
    font-size: 28px;
  }
  h2{
    color: #7eb11c;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3{
    color: #7eb11c;
    font-size: 14px;
  }
  div{
    text-align: left;
  }
  .content{
    width: 1024px;
  }
}

a{
  color: #7eb11c;
}
a:hover{
  color: #7eb11c;
}

header{
  padding-bottom: 70px;
  width: 1024px;
  height: 120px;
}

footer{
  padding: 0px 20px 20px 20px;
  float: right;

  .hpv_logo{
    height: 40px;
  }

}
