.pm-survey-body {
  width: auto;
  .row {
    margin: 0;
  }
}

.pm-survey-box {
  padding-left: 7px;
}

.pm-survey-options {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pm-survey-text {
  margin-top: 2em;
}

.pm-survey-button {
  margin-top: 1em;
}

@media(min-width:767px){
  .pm-survey-type-big5 {
    .pm-survey-options {
      .radio {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

.pm-survey-progress {
  display: none;
  width: 20em;
  position: relative;
  top: 1px;
}
