.pm-survey-body {
  width: auto;
  .row {
    margin: 0;
  }
}

.pm-survey-box {
  padding-left: 7px;
}

.pm-survey-heading {
  font-weight: bold;
  margin-top: 1em;
}

.pm-survey-options {
  margin-top: 0.2em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pm-survey-text {
  margin-top: 0.7em;
  font-size: 16px;
}

.pm-survey-button {
  margin-top: 1em;
}

@media(min-width:767px){
  .pm-survey-type-big5 {
    .pm-survey-options {
      white-space: nowrap;
      .radio {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}


.pm-survey-type-big5 {
  .pm-survey-text {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 20px;
    &:before {
      content: '„'
    }
    &:after {
      content: '“'
    }
  }
}

.pm-survey-progress {
  display: none;
  width: 20em;
  position: relative;
  top: 1px;
  margin-bottom: 0.4em;
}
