.pm-survey-body {
  width: auto;
  .row {
    margin: 0;
  }
  font-size: 13px;
}

.pm-survey-box {
  font-size: 14px;

  img {
    margin-top: 1.4em;
    margin-left: -5px;
    margin-bottom: 0.6em;
  }
}

.pm-survey-heading {
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.pm-survey-text {
  margin-top: 0.8em;
  font-size: 15px;
}

.pm-survey-error {
  display: none;
  margin-top: 1em;
  color: #ee0000;
}

.pm-survey-options {
  margin-left: 0.1em;
  margin-top: 1em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pm-survey-button {
  margin-top: 0.9em;
  margin-bottom: 2em;
  float: left;
}

.pm-survey-progress {
  display: none;
  width: 70%;
  margin-top: 1.6em;
  margin-bottom: 0.2em;
}

@media(min-width:767px){
  .pm-survey-type-big5 {
    .pm-survey-options {
      white-space: nowrap;
      .radio {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  .pm-survey-progress {
    // width: 30em;
  }
}


.pm-survey-type-big5 {
  .pm-survey-text {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 19px;
    &:before {
      content: '„'
    }
    &:after {
      content: '“'
    }
  }
  .pm-survey-options {
    margin-top: 0em;
  }
}

.pm-survey-analysis {
  display: none;
  margin-bottom: 2em;
}

.pm-survey-analysis-intro {
  margin-bottom: 2em;
}

.pm-survey-analysis-text {
  margin-bottom: 2em;
}

.pm-survey-analysis-short-level {
  margin-left: 0.5em;
  color: #7eb11c;
}