
<p>Hallo und Herzlich Willkommen! </p>
<p> Wir freuen uns, Sie als neues Mitglied unseres Diskussionsteams begrüßen zu dürfen.
Nachdem Sie die Registrierung nun erfolgreich abgeschlossen haben, werden wir Sie in Zukunft auf Basis der von Ihnen eingegebenen Daten zu ausgewählten Diskussionsrunden einladen.</p>

<p>
Bitte klicken Sie zunächst auf folgenden Link, um ihre Registrierung zu verifizieren: </p>
<p><%= link_to 'Meinen Account bestätigen', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Sie erhalten für jede Diskussion zu der Sie eingeladen werden eine seperate e-Mail mit einem Bestätigungslink - nehmen Sie die Einladung an, indem Sie auf den Link in der e-Mail klicken.</p>

<p>24 Stunden vor Beginn der Diskussion erhalten Sie von uns außerdem eine Erinnerung an die anstehende Diskussion.</p>

<p>Nach der erfolgreichen Teilnahme an der Diskussion werden wir uns mit Ihnen in Verbindung setzen und Sie dazu auffordern, uns ihre Bankverbindung mitzuteilen, damit wir Ihnen ihre Prämie auszahlen können.</p>

<p>Bei weiteren Fragen stehen wir selbstverständlich gerne zu ihrer Verfügung, nutzen Sie hierzu bitte das Kontaktformular auf www.gruppen-diskussionen.de oder antworten Sie einfach auf diese Email.</p>


<p>Mit freundlichen Grüßen,</p>

<p>Lukas Waschat</p>

