<p>Hallo <%= @resource.email %>!</p>

<p>Sie haben einen Link angefordert im Ihr Passwort zu ändern. Klicken Sie auf den Link um Ihr Passwort zu ändern.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Sollten sie diese Email nicht angefordert haben ignorieren Sie sie bitte.</p>
<p>Ihr altes Passwort ist gültig bis sie es über den obigen Link geändert haben.</p>
