<p>Hallo <%= @resource.email %>!</p>

<p>Ihr Account wurde wegen zu vielen einlogversuchen mit falschen Zugangsdaten gesperrt.</p>

<p>Klicken Sie auf den Link um Ihren Account wieder frei zu schalten:</p>

<p><%= link_to 'Meinen Account frei schalten', unlock_url(@resource, :unlock_token => @token) %></p>
