<head>
  <title><%= yield(:title).presence || SETTINGS[:default_title] %></title>
  <meta charset="UTF-8">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= csrf_meta_tags %>

  <!--[if IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>